@CHARSET "UTF-8";

.AllSkyRightClickPopup {
	background: rgba(0, 0, 0, 0.65);
	border: 1px solid white;
	padding: 5px;
	text-align: center;
}

.allSkyButton {
	margin-top: 5px;
	display: inline-flex;
	vertical-align: middle;
}

.allSkyButton>div {
	border: 0px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.allSkyCoordinateContainer {
	display: flex;
	text-align: center;
	padding: 10px;
	font-size: small;
	border-bottom: 1px solid #fff;
	align-items: center;
	margin-bottom: 10px;
}

.allSkyCoordinateContainer > div{
	flex: 1;
}

.labelContainer {
	display: flex;
	flex: 10 !important;
	flex-direction: column;
}

.labelRow {
	display: inline-flex;
}
.labelRow > div {
	margin-right: 5px;
}

.labelTitle {
	font-weight: bold;
}