@CHARSET "UTF-8";

#searchToolbox{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    border-radius: 7px;
    padding: 4px;
    z-index: 210;
    border: 1px solid #CCCCCC;
    text-align: center;
    pointer-events: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 159px;
}

.searchToolboxButton{
    display: inline-block;
}

.searchToolboxButton div{
    margin: 2px;
}

.searchToolboxHelpButton {
    display: inline-block;
    left: 88%;
    position: absolute;
    pointer-events: auto;
}

#togglesearchToolboxPanelButton{
    display: inline-block;
}

.searchToolBox__toggleAndHelpContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.searchToolbox__shapeButtonContainer{
    display: flex;
    flex-direction: column;
}

.searchToolbox__shapeButtonContainerHorizontal{
    display: flex;
    flex-direction: row;
    margin: auto;

}

.searchToolbox__searchHeaderContainer {
    margin-bottom: 5px;
}

.searchToolbox__searchHeaderLabel {
    display: inline-block;
}

.searchToolbox__detailsPanelCircle > div{
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    min-height: 30px;
}

.searchToolbox__detailsPanelCircle > div > .gwt-Label{
    width: 30%;
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.searchToolbox__detailsPanelCircle > div > input{
    width: 50%;
    float: left;
}


.searchToolbox__detailsPanelPoly > input {
    width: 95%;
}

.searchToolbox__detailsPanelSubmitButton {
    margin-top: 10px;
    float: none;
}

.searchToolbox__detailsPanelHeaderLabel {
    margin-bottom: 5px;
    display: inline-block;
}

.searchToolbox__detailsPanelHeaderContainer {
    display: inline-block;
}

.searchToolbox__detailsPanelHeaderHelpBtn {
    display: inline-block;
    margin-left: 5px;
}

.input__error {
    border: 2px solid red;
}