@CHARSET "UTF-8";

#selectionToolbox{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.9);
    border-radius: 7px 0px 7px 7px;
    padding: 4px;
    position: absolute;
    z-index: 210;
    border: 1px solid #CCCCCC;
    text-align: center;
}

.selectionToolboxButton{
	display: inline-block;	
	horisontal-align: middle;
}

.selectionToolboxButton div{
	margin: 2px;	
}


sss