@CHARSET "UTF-8";


.evaContainer{
	height: inherit;
}

.eva-clear-button{
	position: absolute;
	top: 10px;
	right: 150px;
	 z-index: 1;
}

.evaBanner .banner__closeButton{
	z-index: 1;
}

#webchat {
    height: 100%;
    min-width: 350px;
    background: url(https://skies.esac.esa.int/DSSColor/Norder7/Dir120000/Npix122289.jpg);
    border: 1px solid #CCC;
    border-top: 0;
    border-bottom: 0;
}

