@CHARSET "UTF-8";

.evaContainer{
	height: inherit;
    border: 1px solid #CCC;
    border-right: 0;
}

.eva-clear-button{
    align-self: center;
}

.evaControlsContainer {
    height: 41px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: black;
}

.evaBanner .banner__closeButton{
	z-index: 1;
}

#webchat {
    height: literal("calc(100% - 41px)");
    background: url(https://skies.esac.esa.int/DSSColor/Norder7/Dir120000/Npix122289.jpg);
    text-align: left;
    border-top: 1px solid #CCC;
}

