@def selectionBorderWidth 2px;
.dataGridWidget {
  
}

.dataGridFirstColumn {
  
}

.dataGridLastColumn {
  
}

.dataGridFooter {
  border-top: 2px solid #6f7277;
  padding: 3px 15px;
  text-align: left;
  color: #4b4a4a;
  text-shadow: #ddf 1px 1px 0;
  overflow: hidden;
  white-space: nowrap;
}

.dataGridHeader {  
	/*padding: 3px 15px;*/
	padding: 4px;
	text-align: left;
	font-size: 12px;
	color: #000000;
	background-color: #e3e3e3;
	overflow: hidden;  
	text-align: center;
	border-width: 1px;
	border-style: solid none solid solid;
	border-color: #545454;
	white-space: normal;
}

.dataGridCell {
  padding: 4px;
  overflow: hidden;
  font-size: 11px;
  word-break: keep-all;
  white-space: nowrap; 
}

.dataGridFirstColumnFooter {
  
}

.dataGridFirstColumnHeader {
  border-width: 1px;
}

.dataGridLastColumnFooter {
  
}

.dataGridLastColumnHeader {
  border-style: solid solid solid solid;  
}

.dataGridChangeColumnsSize {
  cursor: ew-resize;
}

.dataGridSortableHeader {
  cursor: pointer;
  cursor: hand;
}

.dataGridSortableHeader:hover {
  color: #6c6b6b;
}

.dataGridSortedHeaderAscending {
  
}

.dataGridSortedHeaderDescending {
  
}

.dataGridEvenRow {
  background: transparent;
}

.dataGridEvenRowCell {
  /*border: selectionBorderWidth solid #ffffff;*/
  border-width: 1px;
  border-style: none none solid solid;
  border-color: #cfcfcf;   
}

.dataGridOddRow {
  background: rgba(255, 255, 255, 0.05);
}

.dataGridOddRowCell {
  /*border: selectionBorderWidth solid #f3f7fb;*/
  border-width: 1px;
  border-style: none none solid solid;
  border-color: #cfcfcf;
}

.dataGridHoveredRow {
}

.dataGridHoveredRowCell {
  /*border: selectionBorderWidth solid #eee;*/
}

.dataGridKeyboardSelectedRow {
  /*background: #ffc;*/
}

.dataGridKeyboardSelectedRowCell {
  /*border: selectionBorderWidth solid #ffc;*/
}

.dataGridSelectedRow {
  background: rgba(255, 255, 255, 0.3);
  color: #ffffff;
  height: auto;
  overflow: auto;
}

.dataGridSelectedRowCell {
  /*border: selectionBorderWidth solid #628cd5;*/
}

/**
 * The keyboard selected cell is visible over selection.
 */
.dataGridKeyboardSelectedCell {
  /*border: selectionBorderWidth solid #d7dde8;*/
}