@CHARSET "UTF-8";

.buttonCell{
	border: 1px solid;
	border-radius: 15%;
	border-color: #CCCCCC;
	padding: 2px;
	display: block;
	margin: auto;
	height: 20px;
	width: 20px;
}

.buttonCell:hover{
	border-color: #EEEEEE;
	background-color: rgba(255, 255, 255, 0.07);
}

.buttonCell:active{
	border-color: #FFFFFF;
	padding: 3px 1px 1px 3px;
	background-color: rgba(255, 255, 255, 0.14);
}

.buttonCell img{
	display: block;
	margin: auto;
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
