@CHARSET "UTF-8";

.browseHips__dialogBox{
	display: block;
	z-index: 10010;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid;
	position: absolute;
    box-sizing: border-box;
}

.browseHips__contentContainer{
    pointer-events:auto;
    padding-top: 0px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.browseHips__closeButton {
	position: absolute;
	top: 3px;
	right: 3px;
}

.browseHips__missionLabel{
	font-size: 15px;
	cursor: all-scroll;
	height: 30px;
	text-align: center;
    box-sizing: border-box;
    margin-right: 30px;
    padding: 5px;}

.browseHips__header{
	display: inline;
	font-weight: bold;
}

.browseHips__checkbox{
	display: inline;
}
.browseHips__columnName{
	display: inline;
}
.browseHips__columnDescription{
	display: inline;
}

.browseHips__contentContainer .esasky_column_header{
	font-style: oblique;
    color: #CCCCCC;
}

.browseHips__loadingSpinner{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	pointer-events: none;
	z-index: 10011;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
