@CHARSET "UTF-8";

#allSkiesMenu{
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 12px;
    height: auto;
    padding: 5px;
    z-index: 40;
    overflow: auto!important;
    position: absolute;
}

.hipsControllerContainer{
	margin-top: 6px;
    margin-left: 1px;
    width: 100%;
    box-sizing: border-box;
    display: inline-flex;
}

.toMakeSliderSymetric{
	height: 2px;
	box-sizing: border-box;
}

.toMakeSliderSymetricFirefox{
	height: 1px !important;
}

.addSkyBtn, .skyPlayer, .sliderContainer{
	display: inline-block;
	vertical-align: middle;
	margin: auto;
}

.sliderContainer{
	border: 1px solid;
	border-radius: 20px;
	box-sizing: border-box;
}

#skies{
	font-size: 0.85em;
}

