.header {
	font-size: 13px;
	font-family: arial, sans-serif;
	height: 30px;
	width: 100%;
	position: absolute;
	z-index: 300;
	background-color: rgba(0, 0, 0, 0.65)
}

#rightSideHeader {
	position: absolute;
	right: 0px;
	display: inline-flex;
}


#headerShareButton > div ,
#selectedSky > div ,
#feedbackButton > div ,
#header__screenshotButton > div,
#headerHelpButton > div,
#header__gridButton > div,
#header__warningButton > div { 
	border: 0px;
	border-radius: 1px;
}

#selectedSky > div {
	height: 30px;
	box-sizing: border-box;
}

#feedbackButton > div {
	height: 22px;
}

#headerShareButton,
#feedbackButton,
#header__screenshotButton,
#headerHelpButton,
#header__gridButton,
#header__warningButton{
	display: inline-flex;
	vertical-align: middle;
	margin-right: 5px;
	align-items: center;
}

#header__dropdown:hover,
.header select:hover{
	background-color: rgba(255, 255, 255, 0.15);
}

#header__dropdown:active,
.header select:active{
	background-color: rgba(255, 255, 255, 0.30);
}

.languageSelector {
	display: inline-block;
	margin-right: 5px;
}

#coordinateContainer, .header label {
	line-height: 30px;
}

.header select {
	color: white;
	font-weight: bold;
	background-color: transparent;
	border: 0px;
}

.header select:hover {
	cursor: pointer;
}

.header select:active {
}

.header option{
	background-color: #000000;
}

.coordinateFrameFull {
	display: inline-block;
}

.coordinateLabel {
	display: inline-block;
	width: 174px;
	box-sizing: border-box;
}

#coordinateLabelButton{
	border: 0px;
}
#coordinateLabelButton>div{
	border: 0px;
	padding: 0px;
	border-radius: 0;
}

.isCenterPosition > div .html-face{
	font-weight: bold;
	color: #20A4D8 !important;
}

.fovPanel {
	display: inline-block;
}

#coordinateContainer {
	display: inline-flex;
	vertical-align: top;
}

#selectedSky {
	display: inline-block;
	margin-right: 7px;
}

.header__dropdown__content {
	background-color: rgba(0, 0, 0, 0.85);
	position: absolute;
	right: 0px;
	max-height: literal("calc(100vh - 30px)");
	overflow: auto;
	width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  	width: -moz-max-content;    /* Firefox/Gecko */
  	width: -webkit-max-content;
}


#header__dropdown .header__dropdown__content, .unselectable {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.header__dropdown__content>* {
	display: block;
	cursor: pointer;
	padding: 6px;
	color: white;
	text-decoration: none;
}

.header__dropdown__content>*:hover, .header__dropdown__content>a:hover {
	background-color: rgba(255, 255, 255, 0.15);
	color: white;
}

.header__dropdown__content>*:active, .header__dropdown__content>a:active {
	background-color: rgba(255, 255, 255, 0.25);
}

.header__dropdown__container {
	display: inline-flex;
	vertical-align: middle;
}

.header__dropdown__container:hover {
	cursor: pointer;
}

.header__dropdown__item__icon{
	height: 14px;
	width: auto;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
}

#header__dropdown__wwt{
	display: flex;
}

#header__dropdown__language {
	margin: 2px auto;
	padding: 4px;
}

#header__dropdown__science  .header__science-mode__label {
	line-height: 27px;
}

#header__dropdown__icon {
	height: 25px;
	width: auto;
	vertical-align: middle;
	display: inline-block;
	box-sizing: border-box;
	padding: 5px 4px 0px 4px;
	margin-bottom: 4px;
}

.header__dropdown__help__text,
.header__dropdown__wwt__text,
.header__dropdown__share__text,
.header__dropdown__screenshot__text,
.header__dropdown__grid__text  {
	display: inline-block;
}