@CHARSET "UTF-8";

.aladin-location, 
.aladin-frameChoice,
.aladin-fov{
	display: none;
}

.aladin-reticle {
    z-index: 100;
}

.aladin-reticleColor {
    color: #321bdf !important;
    font-weight: bold;
}

.aladin-container {
	border: none;
}
