@CHARSET "UTF-8";

.selectedTarget {
}

.selectedPanel{
	background: rgba(255, 255, 255, 0.3) !important;
}

.targetWidget{
	margin: -3px;
	padding: 3px;
	cursor: pointer;
}

.targetWidget:hover{
	background: rgba(255, 255, 255, 0.15);
}

.targetWidget:active{
	background: rgba(255, 255, 255, 0.3);
}

.invalidTarget {
	margin: -3px;
	padding: 3px;
	text-decoration: line-through;
	color: #AAAAAA;
}

.displayNone{
	display: none;
}


