@CHARSET "UTF-8";

.popupHeaderLabelWithHelpButton {
	font-size: 1.1 em;
	font-weight: bold;
	padding: 3px;
}
.titlePanel {
	display: inline-flex;
}

.popupHeaderActionPanel {
	display: flex;
	flex-direction: row;
}

.popupHeaderPrefixPanel {
	display: flex;
	flex-direction: row;
	margin-right: 5px;
}

.popupHeaderActionPanel > div {
	margin-left: 5px;
}

.popupHeaderLabelWithHelpButtonExtraMargin{
	margin-right: 53px;
}

.popupHeaderContainer{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 5px;
}
