@CHARSET "UTF-8";

.globalTapPanel{
    background-color: rgba(0, 0, 0, 0.65);
    height: auto;
    z-index: 49;
    overflow: auto !important;
}

.globalTapPanel__container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;

}

.globalTapPanel__loadingSpinner{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    pointer-events: none;
    z-index: 10011;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.globalTapPanel__loadingSpinner {
    display: inline;
    position: absolute;
    left: 50%;
    top: 50%;
}

.globalTapPanel__tabulatorGlassContainer {
    height: literal("calc(100% - 58px)");
}

.globalTapPanel__tabulatorContainer {
    width: 100% !important;
    min-height: 100px;
}

.globalTapPanel__searchContainer {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.globalTapPanel__searchBox {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid;
    border-radius: 12px;
    width: 65%;
    padding: 10px;

}


.globalTapPanel__fovSwitch{
    top: 1px;
    right: 35px;
    line-height: 17px;
    height: 20px;
    font-size: 0.95rem;
}


.globalTapPanel__disabled {
    opacity: 40%;
}

