@CHARSET "UTF-8";

.gwPanel {
	background-color: rgba(0, 0, 0, 0.65);
	border: 1px solid;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 12px;
	height: auto;
	padding: 5px 5px 0px 5px;
	z-index: 40;
	overflow: auto !important;
	position: absolute;
}

.dataPanelContainer {
	height: 100%;
}

.gwPanel_loadingHipsProperties {
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab{
	padding: 5px;
	border-radius: 10px 10px 0px 0px;
	cursor: pointer;
	/*display: flex;*/
	align-items: center;
	margin-right: 8px;
	margin-left: 0px;
	background: #555555;
	color: #FFFFFF;
	font-weight: normal;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
	background: #e3e3e3;
	color: #343434;
	font-weight: bold;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
	border: none !important;
	padding: 0;
}

.gwt-TabLayoutPanelContentContainer {
	border: none !important;
}

.gwPanel__tabLabel{
	pointer-events: none;
}

.gwt-TabLayoutPanel {
	display: flex;
	flex-direction: row;
}

.gwPanel_showMoreButton{
	margin-left: 5px;
}

.gwPanel_buttonContainer{
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
	margin-left: 10px;
}
.gwPanel_headerRow{
	display: flex;
	flex-direction: row;
    justify-content: space-between;
    padding-top: 5px;
}

.tabulator .tabulator-tableHolder {
	scrollbar-width: thin;
}