@CHARSET "UTF-8";
.treeMap {
	padding: 0px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
}

.loadingOverlay {}

.loadingOverlay:after {
	content: " ";
	z-index: 10;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.1);
	pointer-events: none;
}
