@CHARSET "UTF-8";

.treeMapContainer {
	z-index: 35;
	padding: 7px;
	background: rgba(0, 0, 0, 0.65);
	border: 1px solid;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 12px;
	min-width: 240px;
	min-height: 100px;
	pointer-events: auto;
	position: absolute;
}

.treeMapContainerDesktop{
	overflow: auto !important;
	resize: both;
}

.displayNone{
	display: none !important;
	visibility: collapse;
	z-index: -1;
}

.treeMap__ssoLogo{
	position: absolute;
	height: 23px;
}

.treeMap__filter__text__container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.treeMap__slider__rainbow{
	background: linear-gradient(to right, #E8ECFB, #CAACCB, #AA6F9E, #882E72, #437DBF,
	 #4EB265, #CAE0AB, #90C987, #F7CB45, #EE8026, #DC050C, #72190E, #42150A);
	min-height: 20px;
}

.treeMap__slider{
	margin: auto;
}

