@CHARSET "UTF-8";

.filterDialogBox{
	z-index: 41;
    border-radius: 6px;
    padding: 2px;
    background-color: rgba(0, 0, 0, 0.65);
    border: 1px solid #CCCCCC;
}

.filterActive{
	border: 2px solid red !important;
	background: white;
}

.filterColumnName{
	text-align: center;
	margin-top: 4px;
	margin-bottom: 4px;
	text-transform: capitalize;
}

.filterButton__minimize{
	position: absolute;
	top: 5px;
	right: 5px;
}