

.btn {
  float: right;
  margin-right: 10px;
}

.clear { clear: both; }

input.wrongValue {
  color: red !important;
}

.description, .polygon {
  width:100%;
}

.occupiedTokenMsg {
  color: #ff0000;
  border: 2px solid #ff0000;
  padding: 20px;
}

.buttonContainer .btn {
    width: 100%;
    margin-top: 10px;
}


/* Help page styles */

.paramTitle {
    font-weight: bold;
    color: #c17d00;
}

.explanation {
  margin-left: 15px;
}

.notes {
  color: #ffb17a;
  font-size: 0.9em;
}

.ieText {
  color: #999999;
  font-size: 0.8em;
}
