@CHARSET "UTF-8";

.sliderScrollPanel {
	position: relative;
	scrollbar-color: rgba(255, 255, 255, 1.0) transparent;
	scrollbar-width: auto;
	background-color: transparent;
	box-sizing: border-box;
}

.sliderSimplePanel {
	background-color: transparent;
}
