@CHARSET "UTF-8";
/* Spinner css 
* SOME SPINNER CSS MOVED TO index.css DUE TO GWT CSS RESTRICTIONS OF NEGATIVE VALUES FOR ANIMATION-DELAY
*/
.esasky__spinner {
	width: 32px;
	height: 30px;
	pointer-events: none;
}

.esasky__spinner div {
	animation: esasky__spinner 1.5s
		cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 15px 15px;
}

.esasky__spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: white;
	margin: -3px 0 0 -3px;
	top: 4px;
	left: 17px;
}

@keyframes esasky__spinner { 
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/* Large */
.esasky__spinner__large {
	width: 90px;
	height: 90px;
}

.esasky__spinner__large div {
	animation: esasky__spinner 1.5s
		cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 45px 45px;
}

.esasky__spinner__large div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
	margin: -9px 0 0 -9px;
	border: 1px solid black;
	top: 10px;
	left: 45px;
}


