@CHARSET "UTF-8";

.selectedIcon{
	height: 15px;
	width: 15px;
}

.menuItem_removeRow{
    position: absolute;
    right: 2px;
    background: black;
}

.dropdownLabel{
	font-weight: normal !important;
}

.dropdownItem {
	padding: 4px;
}

.fillWidth {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.dropdownItem tr {
	background-color: transparent !important;
}

