@CHARSET "UTF-8";

.closeTabButton {
	margin-left: 6px;
}

.tabLogo {
	margin-left: 5px;
	height: 15px;
	vertical-align: middle;
}

.tabButtons {
	margin-top: 6px;
	margin-left: 1px;
	pointer-events: auto;
	border: 1px solid #e3e3e3;
	border-right: 0px;
	border-radius: 12px 0px 0px 12px;
	padding: 20px 3px 20px 3px;
	background-color: rgba(0, 0, 0, 0.65)
}

.tabButton {
	margin-bottom: 3px;
}

#tabButtonDownload{
	background: rgba(000, 100 ,255 , 0.6);
}

.tabIcon {
	height: 25px;
	width: 25px;
	margin-left: 3px;
	margin-right: 3px;
	pointer-events: none;
	vertical-align: middle;
}

.whiteLabel {
	color: #ffffff;
	pointer-events: none;
}

.darkLabel {
	color: #343434;
	pointer-events: none;
}

.observationPanel {
	bottom: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	position: absolute;
	pointer-events: none;
	z-index: 200;
}
	
.toggleDataPanelButton {
	margin-left: 9px;
	margin-top: 2px;
	pointer-events: auto;
}
	
.closeAllTabsButton{
	margin-left: 9px;
	margin-top: 4px;
	pointer-events: auto;
}

.hidden {
	visibility: hidden;
}

.missionTab__wavelengthCanvas{
	margin-left: 3px;
}
