@CHARSET "UTF-8";

.datalinkDialogBox{
	display: block;
	z-index: 10010;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid;
	position: absolute;
    box-sizing: border-box;
}

.datalinkContent{
	overflow: auto !important;
    pointer-events:auto;
    padding-top: 0px;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.datalinkCloseButton {
	position: absolute;
	top: 3px;
	right: 3px;
}

.datalinkLoadingSpinner{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 10011;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.datalinkIdLabel{
	font-size: 15px;
	cursor:all-scroll;
	height: 30px;
	text-align: center;
    box-sizing: border-box;
}

.datalinkAnchor{
	display: block;
}
.datalinkAnchor::first-letter {
    text-transform: uppercase;
}


.datalinkAnchor__main{
	font-weight: bold;
}

.datalinkOther{
	text-transform:capitalize;
	font-size: 0.77rem;
}

.datalinkError{
	color: red;
}

.datalinklinkContainer__bright{
	background: rgba(255, 255, 255, 0.07);
}
.datalinklinkContainer{
/* 	border: 1px solid white; */
    border-radius: 5px;
/*     margin-top: 7px; */
/*     margin-bottom: 7px; */
    padding: 8px;
}
