@CHARSET "UTF-8";

.previewDialogBox{
	display: block;
	z-index: 10010;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.9);
	border: 1px solid;
	position: absolute;
    box-sizing: border-box;
}

.previewContent{
	overflow: auto !important;
    resize: both;
    pointer-events:auto;
    padding-top: 0px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    box-sizing: border-box;
}

.previewCloseButton {
	position: absolute;
	top: 3px;
	right: 3px;
}

.previewImage{
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    box-sizing: border-box;
}

.previewLoadingSpinner{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 10011;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.cursorZoomIn{
	cursor:zoom-in;
}

.cursorZoomOut{
	cursor:zoom-out;
}

.previewIdLabel{
	font-size: 15px;
	cursor:all-scroll;
	height: 30px;
	text-align: center;
    box-sizing: border-box;
}
